<% provide(:title, "About") %>

<h1>About</h1>
<p>
  We are the local market. See what your neighbors can do!
  Check out the cakes and cookies, the jewelry and accessories, and all the wonderful
  work they can do for you from web design to installing a new kitchen. 
  Having a garage sale? Have it virtually. Check out what your neighbors are selling today.
</p>