<% provide(:title, "Help") %>

<h1>Help</h1>
<p>If you have a general question: visit our FAQ, the answer you are seeking may be there.
If you have a technical question: feel free to contact us on the <a href= /static_pages_contact_url> contact page</a></p>

