<div class="center jumbotron">
  <h1>Welcome to Agora</h1>
  <h2>
  Your direct access to the local market. 
  </h2>
</div>
<%= link_to image_tag("market.png", alt: "A Post-Impressionistic painting of Ki Lung Street in Hong Kong", class: "center"), 'https://www.google.com/search?biw=1280&bih=690&tbm=isch&sa=1&ei=-XRKXOKCFOyj_Qa7mrTgAQ&q=town+market&oq=town+market&gs_l=img.12...0.0..30530...0.0..0.0.0.......1......gws-wiz-img.nR9VAUb565s'%>

<div class="center jumbotron">
  <h2>
  Welcome to your local market. Set up your own shop or browse your local goods and services.
  Support your neighbors and your community!
  </h2>

  <%= link_to "Set up your public stall", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Create your own private market", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Browse your local market", '#', class: "btn btn-lg btn-primary" %>
</div>

